.navbar_menu {
  li {
    a {
      background-color: transparent;
      font-size: 1.2rem;
      &:hover {
        color: orangered;
        font-weight: 700;
        transform: scale(1.2);
      }
    }
  }
}
