.button {
  background-color: orangered;
  box-shadow: var(--shadow);
  padding: 8px 17px;
  border-radius: 10px;
  border: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bolder;
  color: white;
  display: block;
  &:hover {
    // background-color: transparent;
    cursor: pointer;
  }
  .icon {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background-color: white;
    color: blueviolet;
    border-radius: 2rem;
    padding: 5px;
    &:hover {
      background-color: blueviolet;
      color: white;
    }
  }
}
